/* * {
	outline: 1px dotted #FF0000;
} */
body {
  font-size: 62.5%;
}
h1, h2, a {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: Helvetica, Arial, sans-serif;
}
/* Main */
.main {
  height: 600px;
  @include cover-background('images/bg.jpg');
  text-align: center;
  h1 {
    @extend %font-large;
    font-weight: bold;
    color: $light;
    text-transform: uppercase;
    margin: 140px 0 40px 0;
  }
  p {
    @extend %font-x-small;
    color: $light;
  }
  .btn {
    @include rectangle-button($dark, $light, $bright);
  }
}
/* Supporting */
.supporting {
  text-align: center;
  background-color: $dark;
  padding: 50px 0 80px;
  h2 {
    @extend %font-small;
    font-weight: bold;
    color: $bright;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  p {
    @extend %font-x-small;
    color: $light;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .btn {
    @include rectangle-button($light, $dark, $bright);
  }
}
/* Feature */
.feature {
  height: 600px;
  @include cover-background('images/feature.jpg');
  text-align: center;
  h2 {
    color: $light;
    text-transform: uppercase;
    @extend %font-medium;
    font-weight: bold;
    margin: 220px 0 0 0;
    padding:50px 0 0;
  }
}
/* Footer */
.footer {
  height: 600px;
  @include cover-background('images/footer.jpg');
  text-align: center;
  h2 {
    color: $light;
    text-transform: uppercase;
    @extend %font-medium;
    font-weight: bold;
    margin: 200px 0 0 0;
    padding: 50px 0 0;
  }
  .btn {
    @include rectangle-button($light, $dark, $bright);
  }
}
/* Media Queries */
@media (min-width:768px) {
  .main h1 {
    font-size: 200px;
    font-size: 20rem;
  }
  .feature h2 {
    font-size: 60px;
    font-size: 6rem;
  }
  .supporting h2 {
    font-size: 60px;
    font-size: 6rem;
  }
  .supporting p {
    font-size: 20px;
    font-size: 2rem;
  }
  .footer h2 {
    font-size: 60px;
    font-size: 6rem;
  }
}
