// Font sizes
%font-x-small {
  font-size: 20px;
  font-size: 2rem;
}
%font-small {
  font-size: 40px;
  font-size: 4rem;
}
%font-medium {
  font-size: 60px;
  font-size: 6rem;
}
%font-large {
  font-size: 120px;
  font-size: 12rem;
}
%font-x-large {
  font-size: 200px;
  font-size: 20rem;
}
